header {
    background-color: #344966;
    color: white;
    padding: 1rem 4rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
.cart {
    font-size: 1.75rem;
    cursor: pointer;
    padding: 0.33rem;
    border-radius: 100%;
}
.cart:hover {
    background-color: rgba(200, 200, 200, 0.25);
}
