span {
    font-size: 1.75rem;
    height: 2.25rem;
}
span > * {
    cursor: pointer;
    border-radius: 100%;
    padding: 0.25rem;
    transition: all 0.2s ease;
}
span > *:hover {
    background-color: rgba(200, 200, 200, 0.25);
}

span:global(.dark) > *:hover {
    background-color: rgba(52, 52, 52, 0.25);
}

span:global(.s) {
    font-size: 1.25rem;
    height: 1.75rem;
}
span:global(.m) {
    font-size: 1.5rem;
    height: 2rem;
}
span:global(.x) {
    font-size: 1.75rem;
    height: 2.25rem;
}
span:global(.xl) {
    font-size: 2rem;
    height: 2.5rem;
}
